<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Query Result</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <main>
      <h2>One person Data</h2>
      <table>
        <thead>
          <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Department</th>
            <th>Salary (€)</th>
          </tr>
        </thead>
        <tbody>
          <!--  //in between <% %> this u can usejavascript<%= %> and is an assignment operator-->

          <tr>
            <td><%= result.id %></td>
            <td><%= result.firstname %> <%= result.Lastname %></td>
            <td><%= result.department %></td>
            <td><%= result.salary %></td>
          </tr>
        </tbody>
      </table>
      <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>
